body {
  max-width: 1200px;
  padding-inline: 2vw;
  margin: auto;
  font-size: 18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
footer {
  text-align: center;
  padding-block: 3em;
}
h1 {
  text-align: center;
  margin-block: 1em;
}
h2 {
  margin-block: 2em 1.5em;
}
p {
  max-width: 62ch;
  margin: auto;
}
a {
  color: #ffb145;
  text-decoration: none;
}
a:hover {
  color: #b3490c;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 950px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}